/* ThemeColor.css */
:root {
    --primary-gradient-color: #663399;
    --mid-gradient-color: #C2D0CE;
    --last-gradient-color: #9DE9DB;
    --point-btn-color: #FFCE47;
    --default-btn-color: #654185;
    --out-line-color: #44A2AA;
    --search-btn: #ABD0BC;
    --serach-btn-click:#76a27c;
    --hover-color:#e2c9f0;
    --back-color:#ffe7f1;
    --dow: #3a264b;

    overflow-x: hidden;
  }
  