/* 다른 CSS 파일 */
@import '../styles/ThemeColor.css';

@media screen and (min-width: 1281px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--primary-gradient-color), var(--mid-gradient-color), var(--last-gradient-color));
    background-size: cover;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #App {
        position: relative;
  }
  .body{
    height: 100vh;
    width:100vw
  }
  .container {
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  }
  .Search_Box{
    width:90%;
    background-color: white;
    margin-top: 1%;
    border: var(--search-btn) solid 0.5rem;
    border-radius: 2rem;
    transition: border-color 0.3s;
  }
  .Search_Box.clicked {
    /* 추가적인 스타일 정의 */
    border-color: var(--serach-btn-click); /* 클릭되었을 때의 테두리 색상 예시 */
    font-weight: bold; /* 클릭되었을 때 글자 굵게 예시 */
  }
  .Search_container{
    text-align: center;
  }
  /* 스크롤바의 track(트랙) 색상 */
::-webkit-scrollbar-track {
  background-color: #5e366e; /* 보라색 계열 */
}

/* 스크롤바의 thumb(썸) 색상 */
::-webkit-scrollbar-thumb {
  background-color: #7ec8ad; /* 녹색 계열 */
}

/* 스크롤바의 thumb(썸)의 호버(마우스를 올렸을 때) 색상 */
::-webkit-scrollbar-thumb:hover {
  background-color: #aacfcf; /* 녹색 계열의 더 밝은 색상 */
}

}