@import '../styles/ThemeColor.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.Inner{
    height: 100%;
    width:90%;
    border: var(--default-btn-color) solid 0.5rem;
    background-color: var(--back-color);
    margin-top:2%;
    margin-inline: auto;
    text-align: center;
    display: contents;
}
.scroll {
    width: 90%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1.3rem solid #000;
    background-color: var(--back-color);
    border-radius: 0.5rem;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 1%;
}
  
.append-card-container {
    padding: 1.5%;
    margin-right: 3%;
    margin-left: 5%;
    border: var(--out-line-color) solid 0.7rem;
    width: 90%;
    background-color: white;
    margin-top: 1%;
    border-radius: 0.5rem;
}
.append-card-container:hover{
    background-color: azure;
    cursor: url('/public/cursor.png'), auto;
}

.FaCameraRetro{
    fill: var(--point-btn-color);
}
#dropdown-basic-button{
    background-color:white; 
    border: var(--default-btn-color) solid 0.5rem;
    color:black;
    width: 10rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 7%;  
    margin-right: 3%;
  }
#dropdown-basic-button:hover{
    background-color: #d6d3d3;
}
.dropdown{
    display: flex;
    justify-content: flex-end;

}
.align-items-center {
    margin-right: 3rem;
    justify-content: end;
    display: flex;
}
.Filter{
    fill:var(--point-btn-color);
}
.content-text {
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-style {
    border-radius: 20px;
    border: solid var(--default-btn-color) 10px;
}

.card-image {
    height: 250px !important;
    object-fit: contain; /* 이미지가 비율을 유지하면서 컨테이너를 채우도록 설정 */
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.content-container{
    margin-left:2%;
    margin-top:2%;
margin-right: 2%;}
.wrap-vertical {
    background-color: #ffffff91;
    overflow-x: overlay;
    white-space: nowrap;
    width: 100%;
    border-left: none; /* 왼쪽 테두리 제거 */
    border-right: none; /* 오른쪽 테두리 제거 */
    border-top: 1.5rem dashed var(--dow); /* 위쪽 dashed 테두리 */
    border-bottom: 1.5rem dashed var(--dow); /* 아래쪽 dashed 테두리 */
    margin-bottom: 1.5%;
    margin-right: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}


.card-container {
    display: inline-flex; /* 내부 요소들을 가로로 나열하기 위해 inline-flex 사용 */
    white-space: normal; /* 내부 요소들이 줄바꿈되도록 설정 */
    flex: 0 0 auto; /* 카드의 너비를 자동으로 조절하지 않도록 설정 */
    margin-right: 0.5rem; /* 카드 사이의 간격을 설정 */
    margin-top:2%;
    margin-bottom:2%;
    margin-left:0.5rem
}
.show-dropdown{
    background-color: azure;
}
.border-tag {
    background-color: white;
    border-radius: 0.5rem;
    width:6rem;
    border: var(--default-btn-color) solid 0.5rem;
    font-weight: bold;
    margin-right: 2%;
    margin-left:2%;
    text-align: center;
    margin-bottom: 2%;
}
.modal-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.modal-photo {
    width: 300px;
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
    border-radius: 20px;
    border: var(--default-btn-color) solid 0.5rem;
    margin-bottom: 2%;
}
.modal-photo:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.default-image {
    flex-wrap : wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 23rem;
    border-radius: 30px;
    margin-bottom: 15px;
}

.plus {
    width: 20%;
    height: 20%;
}
.wrap-vertical::-webkit-scrollbar {
    height: 0.8rem; /* 가로 스크롤바 높이 */
    width: 0.7rem;
  }
  /* 스크롤바 막대 */
::-webkit-scrollbar-track {
    background-color: transparent;
}
.wrap-vertical::-webkit-scrollbar-thumb{
    background-color: var(--point-btn-color);
}
.wrap-vertical::-webkit-scrollbar-thumb:hover{
background-color: #FFB300;
}
.story-tag{
    text-align: center;
    background-color: white;
    border-radius: 1.0rem;
    width: 5rem;
    border: var(--default-btn-color) solid 0.5rem;
    font-weight: bold;
    margin-right: 2%;
    margin-left:2%;
    margin-bottom: 2%;
}
