body, html {
    width: 100%;
    height: 100%;
    /* 배경 고정 설정 */
    background: linear-gradient(to top, #9DE9DB, #654184) fixed;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 20% 0% 20%;
}

.flex {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 10px 30px;
}

.content {
    display: flex;
    flex-direction: column;
    border: solid #654185 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 20px 20px;
    background-color: white;
    padding : 0px 10px 10px 10px;
}

.logo {
    width: 50%;
}

.search {
    border-radius: 50px;
    border: solid #ABD0BC 10px;
    background-color: white;
    margin: 2%;
    padding: 1%;
}

.search-box {
    border: none !important;
    border-radius: 100px !important;
}

.search-button {
    border: none !important;
    border-radius: 100px !important;
}

.content-container {
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: solid #44A2AA 10px;
    background-color: white;
    margin: 2%;
    padding: 2%;
}

.append-card-container {
    align-items: center;
    text-align: center;
    width: 96%;
    border-radius: 20px;
    border: solid #44A2AA 10px;
    background-color: white;
    margin: 2%;
    padding: 2%;
}

.content-text {
    margin: 0;
    font-weight: bold;
}

.card-style {
    border-radius: 20px;
    border: solid #654184 10px;
}

.card-image {
    height: 250px !important;
    object-fit: contain; /* 이미지가 비율을 유지하면서 컨테이너를 채우도록 설정 */
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.wrap-vertical {
    overflow-x: auto; /* 내용이 넘칠 경우 가로 스크롤바를 표시 */
    white-space: nowrap; /* 내부 요소들이 줄바꿈되지 않고 한 줄로 표시 */
    width: auto; /* 가로 스크롤 요소의 너비를 자동으로 조절 */
}

.card-container {
    display: inline-flex; /* 내부 요소들을 가로로 나열하기 위해 inline-flex 사용 */
    white-space: normal; /* 내부 요소들이 줄바꿈되도록 설정 */
    flex: 0 0 auto; /* 카드의 너비를 자동으로 조절하지 않도록 설정 */
    margin-right: 10px; /* 카드 사이의 간격을 설정 */
}

.border-tag {
    border-radius: 20px;
    width: 100px;
    border: solid #654184 10px;
    font-weight: bold;
}
